
.header{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  padding: 0px 37px 0px 20px;
  justify-content: space-between;
}

.logo{
  height: 62px;
  width: 52px;
  margin-right: 10px;
}

.left-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-header > h1{
  color: white;
  font-family: Karla;
  font-weight: 700;
  letter-spacing: -2px;
}

.header > h3{
  color: white;
  align-self: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  
}

section{
  padding: 64px 64px 0px 64px;
}

form{
display: flex;
justify-content: space-between;
}

input{
  width: 460px;
  height: 70px;
  border-radius: 10px;
  font-size: 24px;
}


::placeholder{
  color: black;
  font-size: 24px;
  font-family: Karla;
  font-weight: 400;
  padding-left: 30px;
}

section > button{
  width: 100%;
  margin-top: 30px;
  padding: 20px 0px 20px;
  border-radius: 5px;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border-radius: 10px;
  font-size: 24px;
  font-family: Karla;
  font-weight: 700;
}